@use '../variables' as *;

// Container mixins

@mixin make-container($gutter: $container-padding-x) {
  width: 100%;
  padding-right: var(--gutter-x, #{$gutter});
  padding-left: var(--gutter-x, #{$gutter});
  margin-right: auto;
  margin-left: auto;
}
