// Sizing shortcuts

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//font-size
@mixin font-size($value) {
  font-size: $value;
}

//flow gap
@mixin flow($unit: 0.5) {
  & > * + * {
    margin-top: var(--flow-spacer, $unit + em);
  }
}
