// scss-docs-start color-variables

$th-primary: #000 !default;
$th-secondary: #f7f7f7 !default;
$th-neutral: null !default;
$th-accent: #575757 !default;

$th-light: #f8f9fa !default;
$th-dark: #212529 !default;

// scss-docs-end color-variables
